* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "roboto", sans-serif;
  font-weight: 300;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgb(64, 112, 244);
  border-bottom: 1px solid #999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1.5rem;
}
.navbar .navbar-logo img {
  height: 3rem;
}

.navbar .navbar-logo a {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: black;
}
.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
  color: black;
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid black;
  transform: scalex(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
  transform: scalex(0.5);
}
.navbar .navbar-extra a {
  color: rgb(255, 255, 255);
  margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
  color: #000000;
}

#hamburger-menu {
  display: none;
}

.home {
  height: 100vh;
  width: 100%;
  background: url("gambar/home.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "roboto", sans-serif;
}
h2 {
  font-size: 2.4rem;
  color: #000000;
  font-weight: 700;
}
h3 {
  font-size: 1.8rem;
  color: #000000;
  margin-bottom: 1.2rem;
  font-style: italic;
}
.text {
  text-align: justify;
  padding: 2rem 7%;
  font-size: 1.3rem;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
}

.kegiatan {
  padding: 8rem 7% 1rem;
}

.kegiatan h2 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 3rem;
}
.kegiatan h2 span {
  color: rgb(52, 104, 247);
}
.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card .row {
  height: 350px;
  width: 280px;
  background-color: #ffffff;
  margin: 10px;
  margin-bottom: 4rem;
  border: #b6b6b6 inset 0.1rem;
  border-radius: 1%;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.13);
}
.card .row .img-kegiatan {
  margin-bottom: 1.5rem;
  height: 200px;
  background-size: cover;
}

.card .row .img-kegiatan img {
  height: 100%;
  width: 100%;
  border-radius: 3% 3% 0 0;
}
.card .row .content {
  font-weight: 400;
  font-size: 1rem;
  padding: 1rem 4% 1rem;
  text-align: left;
  margin-bottom: 2rem;
}

/* footer */

footer {
  background-color: #000000;
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}
footer .socials {
  padding: 1rem 0;
}
footer .socials a {
  color: #fff;
  margin: 1rem;
}
footer .socials a:hover {
  color: rgb(52, 104, 247);
}
footer .links {
  margin-bottom: 1.7rem;
}
footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}
footer .links a:hover {
  color: rgb(52, 104, 247);
}
footer .credit {
  color: #fff;
  font-size: 0.8rem;
}
footer .credit a {
  color: rgb(52, 104, 247);
}
/* Media Query */
@media (max-width: 1366px) {
  html {
    font-size: 70%;
  }
}
/* Tablet */

@media (max-width: 768px) {
  html {
    font-size: 65.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(0, 0, 0, 0.4);
    width: 20rem;
    height: 20rem;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: rgb(255, 255, 255);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  h2 {
    font-size: 2rem;
  }
  .card .row .content {
    font-size: 1rem;
  }
}

/* Monile Phone */

@media (max-width: 550px) {
  html {
    font-size: 55%;
  }
  h2 {
    color: black;
  }
  .card .row .content {
    font-size: 1.3rem;
  }
}
